{% extends "base.jinja" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="actions section with-border">
            <h2>Actions</h2>

            <ul class="actions with-border">
                <li>
                    <a class="button-like" href="{{ url_for('.register_user') }}">
                        Register user
                    </a>
                </li>

                <li>
                    <a class="button-like" href="{{ url_for('.register_moderator') }}">
                        Register moderator
                    </a>
                </li>

                <li>
                    <a class="button-like" href="{{ url_for('.register_admin') }}">
                        Register admin
                    </a>
                </li>

                <li>
                    <button onclick="fetchAndReload('{{ url_for('.delete_all_users') }}', method = 'DELETE')"
                            class="delete">
                        Delete all users
                    </button>
                </li>
            </ul>
        </div>

        <div class="users section with-border">
            <h2>Users</h2>

            {% if users and render %}
                <ul class="users with-border">
                    {% for user in users %}
                        <li class="user">
                            {{render(user)}}
                            <div class="actions">
                                <a class="button-like" href="{{ url_for('.edit_user', id = user.id) }}">Edit</a>
                                <button onclick="fetchAndReload('{{ url_for('.delete_user', id = user.id) }}', method = 'DELETE')"
                                        class="delete">
                                    Delete
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-users">There is no users yet</p>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/fetchAndReload.js') }}"></script>
{% endblock %}
